/* **************************************************************************
 * Copyright(C) Mega Trade Website, Inc - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Abdeen Mohamed < abdeen.mohamed@outlook.com>, September 2019
 ************************************************************************** */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.rcw-conversation-container > .rcw-header {
  background-color:#549FFC;
}

.rcw-launcher {
  background-color:#549FFC;
}

.rcw-message > .rcw-client {
  background-color: #549FFC;
  color: white;
}

.rcw-message > .rcw-response {
  background-color: #f4f6f8;
  color: black;
}

.rcw-send-icon {
  color: #549FFC;
}